<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--
  <servlet>
    &lt;!&ndash;servlet名&ndash;&gt;
    <servlet-name>ServletConfig</servlet-name>
    &lt;!&ndash;完全限定名：包名+类名&ndash;&gt;
    <servlet-class>com.upchina.javax.ServletConfigDemo</servlet-class>
    <load-on-startup>-1</load-on-startup>
    &lt;!&ndash;设置两个初始化参数&ndash;&gt;
    <init-param>
      <param-name>name</param-name>
      <param-value>Servlet初始化设置</param-value>
    </init-param>
    <init-param>
      <param-name>URL</param-name>
      <param-value>www.baidu.com</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletConfig</servlet-name>
    &lt;!&ndash;访问的网址&ndash;&gt;
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
-->
  <context-param>
    <param-name>name</param-name>
    <param-value>ServletContext 初始化参数设置</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>www.baidu.com</param-value>
  </context-param>
</web-app>
